<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="modernhttpclient" version="2.4.2" targetFramework="MonoAndroid50" />
  <package id="Newtonsoft.Json" version="6.0.8" targetFramework="MonoAndroid50" />
  <package id="Refractored.PagerSlidingTabStrip" version="1.0.9.4" targetFramework="MonoAndroid50" />
  <package id="Xam.Plugin.Connectivity" version="1.0.2" targetFramework="MonoAndroid50" />
  <package id="Xam.Plugin.ExternalMaps" version="1.0.4" targetFramework="MonoAndroid50" />
  <package id="Xam.Plugin.Geolocator" version="1.0.2" targetFramework="MonoAndroid50" />
  <package id="Xam.Plugins.Settings" version="1.5.1" targetFramework="MonoAndroid50" />
  <package id="Xamarin.Android.Support.Design" version="22.2.0.0" targetFramework="MonoAndroid50" />
  <package id="Xamarin.Android.Support.v4" version="22.2.0.0" targetFramework="MonoAndroid50" />
  <package id="Xamarin.Android.Support.v7.AppCompat" version="22.2.0.0" targetFramework="MonoAndroid50" />
  <package id="Xamarin.Android.Support.v7.CardView" version="22.2.0.0" targetFramework="MonoAndroid50" />
  <package id="Xamarin.Android.Support.v7.MediaRouter" version="22.2.0.0" targetFramework="MonoAndroid50" />
  <package id="Xamarin.GooglePlayServices.AppInvite" version="25.0.0.0-beta2" targetFramework="MonoAndroid50" />
  <package id="Xamarin.GooglePlayServices.Base" version="25.0.0.0-beta2" targetFramework="MonoAndroid50" />
  <package id="Xamarin.GooglePlayServices.Maps" version="25.0.0.0-beta2" targetFramework="MonoAndroid50" />
  <package id="Xamarin.GooglePlayServices.Panorama" version="25.0.0.0-beta2" targetFramework="MonoAndroid50" />
  <package id="Xamarin.Insights" version="1.10.4.112" targetFramework="MonoAndroid50" />
</packages>